

{{> head}}

<body>
    
    {{> navbar}}

    <div class="col-8">
        <h1>esta es una imagen xd</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/yo.jpg" class="img-thumbnail">
    </div>

    {{> footer}}